on late-fs
    chown system system /dev/aac_richtap
    chmod 0666 /dev/aac_richtap

service vendor.vibrator /vendor/bin/hw/android.hardware.vibrator.service.galaga-richtap

    class hal
    user system
    group system input
    setenv RICHTAP_DEVICE_PATH /dev/aac_richtap
    setenv ENV_RICHTAP_CONFIG_PATH /vendor/etc/aac_richtap.config

on property:sys.boot_completed=1
    setprop vendor.haptic.calibrate.done 1
